@sitecore-ui:registry=https://npm.sitecore.com/contenthub/
@sitecore-auth:registry=https://npm.sitecore.com/internal_prod/
sc-search:registry=https://npm.sitecore.com/internal_prod/
//npm.sitecore.com/contenthub/:_authToken=d70b54443875aa3778aba5988680ce4a0682c47e
//npm.sitecore.com/internal_prod/:_authToken=d70b54443875aa3778aba5988680ce4a0682c47e
//npm.cloudsmith.io/sitecore/stream-ui/:_authToken=d70b54443875aa3778aba5988680ce4a0682c47e
//npm.cloudsmith.io/sitecore/stream-ui-core/:_authToken=d70b54443875aa3778aba5988680ce4a0682c47e
//npm.cloudsmith.io/sitecore/stream/:_authToken=d70b54443875aa3778aba5988680ce4a0682c47e
@sitecore:registry=https://npm.sitecore.com/internal_prod/