:root {
  --text-3xs: 0.625rem; /* 10px */
  --text-2xs: 0.6875rem; /* 11px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.8125rem; /* 13px */
  --text-base: 0.875rem; /* 14px */
  --text-md: 0.875rem; /* 14px */
  --text-lg: 1rem; /* 16px */
  --text-xl: 1.125rem; /* 18px */
  --text-2xl: 1.25rem; /* 20px */
  --text-3xl: 1.5rem; /* 24px */
  --text-4xl: 1.875rem; /* 30px */
  --text-5xl: 2.25rem; /* 36px */
  --text-6xl: 3rem; /* 48px */
  --text-7xl: 3.75rem; /* 60px */
  --text-8xl: 4.5rem; /* 72px */
  --text-9xl: 6rem; /* 96px */
}
